<section class="accreditation">
  <div class="container">
    <h2 class="accreditation__title --h2">Область аккредитации</h2>
    <div class="accreditation__list">
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">A (L)</span>
                <br>Мотоциклы, мотороллеры
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/moto.svg" alt="Мотоцикл" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">359 Р</p>
              </div>
        </div>
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">B (M1)
                   </span>
                <br>Легковые автомобили
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/car.svg" alt="Легковые автомобили" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">1022 Р</p>
              </div>
        </div>
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">B (N1)</span>
                <br>Грузовые до 3,5 тонн
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/carbn1.svg" alt="Грузовые до 3,5 тонн" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">1018 Р</p>
              </div>
        </div>
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">C (N2)
                    </span>
                <br>Грузовые свыше  3,5 тонн
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/carcn2.svg" alt="Грузовые свыше  3,5 тонн" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">2018 Р</p>
              </div>
        </div>
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">С (N3)</span>
                <br>Грузовые свыше  3,5 тонн
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/carcn3.svg" alt="Грузовые свыше  3,5 тонн" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">2200 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">D (M2)</span>
                <br>Автобусы до 5 тонн
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/cardm2.svg" alt="Автобусы до 5 тонн" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">1749 Р</p>
              </div>
        </div>
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">D (M3)</span>
                <br>Автобусы  свыше  5 тонн
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/cardm3.svg" alt="Автобусы  свыше  5 тонн" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">2113 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">E (01)</span>
                <br>Грузовые прицепы
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/care01.svg" alt="Грузовые прицепы" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">843 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">E (02)</span>
                <br>Грузовые прицепы
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/care02.svg" alt="Грузовые прицепы" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">843 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">E (03)</span>
                <br>Грузовые прицепы
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/care03.svg" alt="Грузовые прицепы" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">1423 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <p class="accreditation__card-desription --inter-lite-32">
                <span class="accreditation__card-category --inter-bold-32">E (04)</span>
                <br>Грузовые прицепы
              </p>
              <div class="accreditation__card-wrraper flex --align-center" >
                <img src="img/svg/care04.svg" alt="Грузовые прицепы" class="accreditation__card-icon">
                <p class="accreditation__card-price --inter-regular-32">1423 Р</p>
              </div>
        </div>
        
      </div>
      <div class="accreditation__list-card">
        <div class="accreditation__card">
            <a href="#" class="accreditation__card-desription accreditation__card-link --inter-regular-36">
              Документ регламентирующий цены
              </a>
        </div>
        
      </div>
    </div>
  </div>
</section>


