.partners {
    padding: 20px 0;
    &__wrraper {
        padding-bottom: 100px;
    }   
    
}

.partners__slider-wrapper {
    width: 100%;
    justify-content: start;
    margin-top: 40px;
}


.slide-partners {
    width: 100px;
    height: 282px;
    
}


