<section class="credentials">
    <div class="container">
        <h2 class="credentails__title --h2">
            Нормативные документы
        </h2>
        <ul class="credentials__list">
            <li class="credentials__list-item --inter-regular-24">
                Федеральный закон "О техническом осмотре транспортных средств и о внесении изменений в отдельные законодательные акты Российской Федерации
            </li>
            <li class="credentials__list-item --inter-regular-24">
                Правила проведения технического осмотра транспортных средств, утверждённые постановлением Правительства Российской Федерации от 15 сентября 2020 года № 1434
            </li>
            <li class="credentials__list-item --inter-regular-24">
                Типовая формы договора о проведении технического осмотра 
            </li>
        </ul>
    </div>
</section>