.credentials {
    padding: 86px 0;
    background: #F3ECEC;
    &__list {
        margin-top: 56px;
        &-item {
            border-bottom: 2px solid #010DB6; 
            padding: 16px 0;  
        }
    }
}