<section class="news" id="news">
  <div class="container">
    <h2 class="news__title --h2 flex --align-center">
      Новости
      <span class="news__title-description --inter-medium-32">
        Про законы и техосмотр
      </span>
    </h2>

    <!-- Slider main container -->
    <div class="news-slider">
      <div class="swiper news__slider-wrapper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <a
            href="https://ivo.garant.ru/#/document/12187349/paragraph/1636:0"
            target="_blank"
            class="swiper-slide slide-news"
          >
            <article class="news__article">
              <div class="news_article-data">01/07/2011</div>
              <p class="news__article-decription">
                Федеральный закон от 1 июля 2011 г. N 170-ФЗ "О техническом
                осмотре транспортных средств и о внесении изменений в отдельные
                законодательные акты Российской Федерации"
              </p>
            </article>
          </a>
          <a
            href="http://publication.pravo.gov.ru/Document/View/0001202009230032"
            target="_blank"
            class="swiper-slide slide-news"
          >
            <article class="news__article">
              <div class="news_article-data">15/09/2020</div>
              <p class="news__article-decription">
                Постановление Правительства Российской Федерации от 15.09.2020 №
                1434 "Об утверждении Правил проведения технического осмотра
                транспортных средств, а также о внесении изменений в некоторые
                акты Правительства Российской Федерации"
              </p>
            </article>
          </a>
          <a href="https://ivo.garant.ru/#/document/12192261/paragraph/373:0" target="_blank" class="swiper-slide slide-news">
            <article class="news__article">
              <div class="news_article-data">14/10/2011</div>
              <p class="news__article-decription">
                Приложение к приказу Министерства экономического развития РФ от
                14 октября 2011 г. N 573 (с изменениями от 27 сентября 2012 г.)
              </p>
            </article>
          </a>
          <a href="http://publication.pravo.gov.ru/document/3300202312110002" target="_blank" class="swiper-slide slide-news">
            <article class="news__article">
                <div class="news_article-data">11/12/2023</div>
                <p class="news__article-decription">
                    Постановление Правительства Владимирской области от 11.12.2023 № 907
                    "Об установлении предельного размера платы за проведение технического осмотра транспортных средств на территории Владимирской области"
                </p>
              </article>
            </a>
          <a href="http://publication.pravo.gov.ru/document/0001202312120049" class="swiper-slide slide-news">
            <article class="news__article">
                <div class="news_article-data">09/12/2023</div>
                <p class="news__article-decription">
                    Постановление Правительства Российской Федерации от 09.12.2023 № 2092
"О внесении изменений в некоторые акты Правительства Российской Федерации"
                </p>
              </article>
          </a>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need scrollbar -->

        <!-- Navigation buttons -->
      </div>
      <div class="swiper-navigation-custom">
        <div class="s-button-next">
          <svg
            width="48"
            height="16"
            viewBox="0 0 48 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M47.0279 8.70711C47.4184 8.31658 47.4184 7.68342 47.0279 7.29289L40.6639 0.928932C40.2734 0.538408 39.6402 0.538408 39.2497 0.928932C38.8592 1.31946 38.8592 1.95262 39.2497 2.34315L44.9066 8L39.2497 13.6569C38.8592 14.0474 38.8592 14.6805 39.2497 15.0711C39.6402 15.4616 40.2734 15.4616 40.6639 15.0711L47.0279 8.70711ZM0 9H46.3208V7H0V9Z"
              fill="#010DB6"
            />
          </svg>
        </div>
        <div class="s-button-prev">
          <svg
            width="48"
            height="16"
            viewBox="0 0 48 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.972107 7.29289C0.581579 7.68342 0.581579 8.31658 0.972107 8.70711L7.33606 15.0711C7.72658 15.4616 8.35973 15.4616 8.75025 15.0711C9.14078 14.6805 9.14078 14.0474 8.75025 13.6569L3.09344 8L8.75025 2.34315C9.14078 1.95262 9.14078 1.31946 8.75025 0.928932C8.35973 0.538408 7.72658 0.538408 7.33606 0.928932L0.972107 7.29289ZM48 9H1.67923V7H48V9Z"
              fill="#010DB6"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
