<div class="about"> 
    <div class="container"> 
      <h2 class="about-title --h2">О нас</h2> 
      <div class="about__info"> 
        <img 
          src="img/certificate.jpg" 
          alt="Аттестат Аккредитации" 
          class="about__info-certifikate" 
          id="certImage"
        /> 
        <div class="about__info-wrapper"> 
          <h3 class="about__info-title --h3"> 
            Оператор технического осмотра №11113 
          </h3> 
          <address> 
            Адрес расположения пункта технического осмотра 601481, Владимирская область, г.Гороховец, ул.Гагарина, д.36Б 
          </address> 
          <p> 
            Юридический и почтовый адрес: 601483, Владимирская область, г.Гороховец, ул.Мира, д.26, к. 59 
            Фактический адрес 601481, Владимирская область, г.Гороховец, ул.Гагарина, д.36Б 
            ИНН 331301391501 
            ОГРНИП 310333834100011 
            Свидетельство № 33 №001687730 от 07.12.2010г. 
            Р/с 40802810110180000244 
            Банк ОТДЕЛЕНИЕ N8611 СБЕРБАНКА РОССИИ 
            К/с 30101810000000000602 
            БИК 041708602 
            ОКТМО 17615101 
            ОКПО 0176284508 
            Телефон +79202953335 
            E-mail: gto33@mail.ru 
          </p> 
        </div> 
      </div> 
    </div> 
  
    <!-- Попап -->
    <div id="popup" class="popup">
      <span class="close" id="closePopup">&times;</span>
      <img class="popup-content" id="popupImage" alt="Увеличенное изображение" />
    </div>
  </div>
  