<section class="papers">
    <div class="container">
        <h2 class="papers__title --h2">Перечень необходимых документов</h2>
        <ol class="papers__list">
            <li class="papers__list-text --inter-regular-32">
                Документ удостоверяющий личность
            </li>
            <li class="papers__list-text --inter-regular-32">
                Доверенность (для представителя собственника ТС)
            </li>
            <li class="papers__list-text --inter-regular-32">
                Свидельство о регистрации транспортного средства (СРТС) или паспорт транспортного средства(ПТС) 
            </li>
        </ol>
        
    </div>
</section>