<header class="header">
  <div class="header__navigation">
    <div class="container">
      <nav class="menu flex --just-space">
        <ul class="menu-list flex">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20">О нас </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20"
              >Область аккредитации
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20"
              >Документы
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20"
              >Запись на ТО
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20">Цены </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20">Новости </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link --inter-regular-20">Контакты </a>
          </li>
        </ul>
        <a
          href="tel:+79202953335"
          class="menu__phone -- --inter-regular-20 --white-clor"
        >
          +7-920-295-33-35</a
        >
      </nav>
    </div>
  </div>
  <div class="header__alert ">
    <p class="header__alert-text">Внимание!!! 4 ноября - выходной день!</p>
  </div>
  <div class="header__wrapper">
    <div class="container ">
      <div class="header__wrapper-info --flex-wrapp">
        <div class="header__info">
          <h1 class="header__info-title --h1">
            Оператор технического осмотра №11113
          </h1>
          <h3 class="header__info-company --h3">
            ИП Вилков Александр Николаевич
          </h3>
        </div>
        <img src="img/car.png" alt="техосмотр гороховец" class="header__image" />
      </div>
    </div>
  </div>
  <div class="header__contact">
    <div class="container">
      <div class="header__contact-wrapper">
        <div class="header__contact-address">
          <address>
            Владимирская область, город Гороховец,ул. Гагагрина , д 36 б
          </address>
          <a href="tel:+79202953335" class="phone --inter-regular-32">
            +7-920-295-33-35</a
          >
        </div>
        <a
          href="https://n505814.yclients.com/"
          target="_blank"
          class="--alert-red-white sinngup"
          >Записаться на ТО</a
        >
        <div class="header__contact-time">
          <h5 class="time__title --inter-regular-32">Режим работы:</h5>
          <p class="time__text --inter-regular-24">Пн-Пт 9.00-18.00</p>
          <p class="time__text --inter-regular-24">Сб 9.00-14.00</p>
          <p class="time__text --inter-regular-24">Вс-Выходной</p>
        </div>
      </div>
    </div>
  </div>
</header>
